
/* styles for the login page */

.sign-up-or-log-in{
	width: 100%;
}

#login{
	display: block;
	width: 60%;
	margin: 5% 0% 5% 20%;
	background: snow;
	border: solid 2px tomato;
	border-radius: 20px;
	text-align: center;
}

#login a, #login h1{
	color: tomato;
	cursor: pointer;
}

#login form{
	margin: auto;
	width: 70%;
}

#login form input{
	padding: 20px;
	margin: 5% 5%;
	border-radius: 20px;
	width: 70%;
	display: block;
}

#sign-up{
	display: none;
	width: 60%;
	margin: 5% 0% 5% 20%;
	background: snow;
	border: solid 2px tomato;
	border-radius: 20px;
	text-align: center;
}

#sign-up a, #sign-up h1{
	color: tomato;
	cursor: pointer;
}

#sign-up form{
	margin: auto;
	width: 70%;
}

#sign-up form input{
	padding: 20px;
	margin: 5% 5%;
	border-radius: 20px;
	width: 70%;
	display: block;
}

/* styles for the cart page */

.cart{
	background-image: url('images/shopping.png');
	width: 100%;
	background-size: 20%;
	height: 500px;	
}

.cart h1{
	padding: 20px;
	text-align: center;
	color: tomato;
}

.cart p{
	padding: 10px;
	margin-top: 100px;
	color: tomato;
	text-align: center;
}

.cart a{
	background: tomato;
	color: white;
	padding: 10px;
	margin-left: 40%;
}

.cart a:hover{
	background: white;
	color: tomato;
}

/* styles for the product pages*/

.ict{
	width: 100%;
	padding: 50px;
	margin: 2% 0%;
	border-radius: 30px;
	box-shadow: 0px 0px 3px 3px grey;
	background: snow;
}

.ict img{
	width: 40%;
	height: 40%;
	margin: 0% 0% 2% 0%;
}

#ict{
	float: right;
	width: 400px;
	height: 500px;
	margin: 0% 0% 2% 0%;
	display: inline-block;
}

#ict h1{
	color: tomato;
	width: 100%;
}


#ict li{
	padding: 10px;
	font-size: 20px;
	width: 100%;
	color: darksalmon;
	display: inline-block;
	list-style: none;
}

#cost{
	color: darksalmon;
	font-size: 40px;
	width: 50%;
	border-bottom: double;
}

.ict button{
	background: tomato;
	width: 100%;
	display: block;
	color: white;
	padding: 20px;
	text-align: center;
}

.ict a:hover{
	background: tomato;
	color: white;
}

#payment{
	display: none;
    background: tomato;
    position: fixed;
    top: 100px;
    width: 30%;
    height: 90%;
    margin-left: 30%;
    padding: 100px 10px 10px 10px; 
    color: white;
}

#payment select, #payment input{
    padding: 10px;
    width: 95%;
    display: block;
    margin: 2% 0%;
}

#payment button{
    width: 50%;
    display: inline-block;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    margin: 2% 20%;
}

#request-processed{
	display: none;
	background: tomato;
	color: white;
	width: 100%;
	height: 1500px;
	left: 0%;
	top: 0px;
	bottom: 0px;
	position: absolute;
}

#request-processed a{
	background: orange;
	width: 500px;
	padding: 10px;
	position: absolute;
	top: 60%;
	left: 30%;
	text-align: center;
}

#request-processed p{
	position: absolute;
	top: 50%;
	left: 40%;
	font-size: 15px;
	font-style: italic;
}